@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap);

/* Head component */
html {
    font-family: 'Prompt', sans-serif;
}

nav {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    text-decoration:none;
    font-size: 1.25rem;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    border-inline-width: 3px;
    padding: 0.1rem 0.2rem;

}



header h1{
font-weight: bolder;
display: flex;
flex-direction: column;
align-items: center;
padding: 4rem 0 10rem;
}

/* Main component */

article {
    display: flex;
    flex-direction:column;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 2rem 2rem;
    margin-bottom: 4vh;
    margin-left:1%; 
    margin-right:1%;

}

main article img {
    width: 70%;
    border-radius: 50%;
    border: 2px solid black;
}

main article ref {
    display: flex;
    font-size: 1.1rem;
    
}

.ref {
    font-size: 75%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
 
}

.link {
    color: black;
    font-weight: bold;
    
}

.link:hover {
    color: #008C9B;
}

.link:visited {
    color: #008C9B;
    font-weight:normal;
  }



/* Footer component */

.return {    
    padding-top: 3%;

}
.copyright{
    float:left;
    padding: 8rem 0rem 0rem 0rem;
    font-size:x-small;
}



@media only screen and (min-width:900px) {

    article {
        width: 40%;
        display:inline-block;
        justify-content: center;
        min-height: 46rem;
        
    }

    .blogs{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-block-size: 150%;
    
    }

    .ref {
        display: flex;
        justify-content:end ;
        padding-top: 8%;
    }


}