@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap);

/* Head component */
html {
    font-family: 'Prompt', sans-serif;
}

nav {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    text-decoration:none;
    font-size: 1.25rem;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    border-inline-width: 3px;
    padding: 0.1rem 0.2rem;

}

header h1{
font-weight: bolder;
display: flex;
flex-direction: column;
align-items: center;
padding: 4rem 0 4rem;
}


/* Main component */
img {
    width: 70%;
    border-radius: 50%;
    border: 4px solid black;

}

main {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 2rem 2rem;
    margin-bottom: 2vh;
    margin-left:8vw; 
    margin-right:8vw;
}





/* Footer component */


.copyright{
    float:right;
    padding: 8rem 0rem 0rem 0rem;
    font-size:x-small;
}

/* Desktop style */

@media only screen and (min-width: 900px) {
    
    img {
        width: 35%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main {
        font-size:x-large;
    }

}